.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $DARK;
  padding-top: 20px;
  padding-bottom: 20px;

  &__logo {
    display: flex;

    &_title {
      font-size: 30px;
      font-weight: 400;
      font-family: $SECOND_FONT;
      line-height: 50px;
      letter-spacing: 0.6px;
      color: $WHITE;
    }
  }

  &__nav {
    flex: 1;
  }

  &__list {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    &_item {
      position: relative;
      margin-right: 30px;
      &:last-child {
        margin-right: 0;
      }
      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        height: 2px;
        width: 0%;
        background-color: $GOLD;
        transition: width 0.3s ease-in-out;
      }
      &:hover::after {
        width: 100%;
      }
    }

    &_link {
      font-size: 20px;
      line-height: 50px;
      color: $WHITE;
      transition: color 0.2s ease-in-out;
      &:hover {
        color: $GRAY;
      }
    }
  }

  &__profile {
    margin-left: 40px;
    $size: 28px;
    width: $size;
    height: $size;
    cursor: pointer;

    &_icon {
      fill: $WHITE;
      transition: fill 0.2s ease-in-out;
      &:hover {
        fill: $GOLD;
      }
    }
  }
}
